<% include ../partials/header %>

<div class="container">
    <% if (alert.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= alert %>
    </div>
    <% } %>

    <% if (req.user.username === 'admin') { %>
    <h1>Clients <a class="btn btn-outline-secondary" href="/clients/new">Create</a></h1>
    <% } %>
    <ul class="list-group">
        <% for(var i = 0; i < clients.length; i++) { %>
        <li class="list-group-item">
            <%= clients[i].id %>
            <%= clients[i].firstName %>
            <%= clients[i].lastName %>
            <%= clients[i].dob %>
            <%= clients[i].gender %>
            <%= clients[i].city %>
            <%= clients[i].state %>
            <%= clients[i].email %>
            <%= clients[i].phone %>
            <% if (req.user.username === 'admin') { %>
            <a class="btn btn-outline-secondary" href="/clients/<%= clients[i].id %>/edit">Edit</a>
            <form action="/clients/<%= clients[i].id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-outline-secondary">Delete</button>
            </form>
            <% } %>
        </li>
        <% } %>
    </ul>
</div>

<% include ../partials/footer %>